<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="Hanghae4 Not Found" />
    <meta property="og:description" content="항해99 프리코스 1기 4조 입니다." />
    <meta property="og:image" content="./public/img/logo.png" />
    <link rel="shortcut icon" href=".public/img/logo.png" />
    <title>hanghae4 Not Found</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"
    />
    <link rel="stylesheet" href="./public/css/main.css" />
    <script src="./public/js/main.js" defer></script>

    <style>
      article h1,
      article h6 {
        text-align: center;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <!--nav바-->
      <nav></nav>
      <!--nav바 끝-->

    <!-- 댓글 -->
    <div class="container">
      <article data-theme="light">
        <hgroup>
          <h2>방명록</h2>
          <h3>Hanghae4 Not Found에게 응원의 한마디를 남겨주세요.</h3>
        </hgroup>
        <h4>작성자 : <%=  %></h4>
        </article>
    </div>
</body>
</html>
 